h1 {
    color: red;
}

#player1-area, #player2-area, #results-area {
    border: 2px solid black;
    min-height: 25vh;
}

#chatbox {
    height: 30vh;
    border: 1px solid grey;
    overflow-y: scroll;
}